button {
  margin-bottom: 20px;
}

.linear {
  margin-left: 50vw;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(green, purple);
  display: inline-block;
  color: white;
}

.changer {
  margin-left: 50vw;
  border: 2px solid black;
  display: inline-block;
  text-align: center;
}
.changer button {
  background-color: blueviolet;
  color: white;
}

.red {
  background-color: red;
}

/* ! ZUSATZ STUFF NICHT BEACHTEN */

.anime {
  animation: wyld infinite 1s alternate;
}

.anime2 {
  animation: wyldRussian infinite 2s alternate;
}

.bodyMaker {
  animation: wyldBody infinite 0.5s alternate;
}
.wyld {
  display: none;
}

.zeig {
  display: block;
}

h3 {
  position: absolute;
  top: 0;
  color: rgb(211, 25, 187);
  font-size: 10rem;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
img {
  position: absolute;
  top: 30vh;
}
img:nth-of-type(2) {
  right: 0;
}

.niceColor {
  margin-left: 50vw;
  background-color: tomato;
  color: green;
  font-size: 30px;
}

@keyframes wyldRussian {
  0%,
  100% {
  }
  25% {
    rotate: 45deg;
    scale: 1.5;
  }
  50% {
    rotate: 0deg;
    scale: 1;
  }
  75% {
    rotate: -45deg;
    scale: -1.5;
  }
}

@keyframes wyldBody {
  0%,
  100% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
}

@keyframes wyld {
  0% {
    transform: translateX(0);
  }
  25% {
    color: blue;
    rotate: 90deg;
    scale: 1.2;
    transform: translateX(100px);
  }
  50% {
    color: greenyellow;
    scale: -2;
    transform: translateY(100px);
  }
  75% {
    color: red;
    rotate: -50deg;
    scale: 1;
    transform: translateX(30px);
  }
  100% {
    rotate: 180deg;

    transform: translateY(0);
  }
}
